* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.container {
    background: gray;

}
.items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;

}
nav a {
    text-decoration: underline;
    color: black;
    font-family: Verdana;
    font-size: small;
    margin: 5px;
}
nav a:hover {
    color: #3B94D9;
}
.h1{

}