.nav-item{
    list-style: none;
}
li .nav-item{
    flex-direction: row;
}
.form-inline{
    display: -webkit-box;
}
input.form-control{
    width: 10em;
}
.nav-link.sign-up{
    margin-left: auto;
}
.billboard{
    width: inherit;
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    background-image: url("../assets/pizza-g6e8e2cb3a_640.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.billboard-text{
    width: inherit;
    padding: 1em 0;
    text-align: center;
    background-color: rgba(250, 248, 248, 0.35);
}
/*trash:

*/