/*All*/

/*Home Page*/
.main-header{
    text-align: center;
}
.container1-main{
    display: block;
}
.homeimg{
    display: block;
    margin: 0 auto;
    height: 300px;
}
.changeimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.form-control{
    display: block;
    width: 125px;
    border-style: outset;
    margin-right: auto;
    margin-left: auto;
}
/*Quotes*/
#my-quotes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.quotescard{
    width: 180px;
    height: fit-content;
    margin: 5px;
    text-align: center;
    background-color: silver;
    margin-top: auto;
    margin-bottom: auto;
}
#card-quote{
    color: darkgreen;
}
#card-author{
color: brown;
}

/*addQuote*/
.form-btn{

}

