/*Home Page*/
.main-header{
    text-align: center;
}
.container1-main{
    display: block;
}
.homeimg{
    display: block;
    margin: 0 auto;
    height: 300px;
}
.changeimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.form-control{
    display: block;
    width: 125px;
    border-style: outset;
    margin-right: auto;
    margin-left: auto;
}
#my-quotes.card{
    display: flex;
    margin: 5px;
}